<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Mars Data</a></p>
    </div>
    <h2> lastest Mars news</h2>
    <h3> {{listings.news_title }}</h3>
    <h4> {{ listings.news_p }}</h4>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 big_box">
        <h2>Featured Mars Image </h2>
        <img src="{{listings.featured_image_url}}" alt="Featured Mars Image" style="width:700px;height:600px;">
        
      </div>

      <div class="col-md-4">
        <div class="row weather-box">
          <div class="col-md-12">
            <h3>Current weather on Mars</h3>
            <p>
              {{listings.mars_weather}}
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <h3>Mars facts</h3>
          <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th>value</th>
              </tr>
              <tr>
                <th>descrpition</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Equatorial Diameter:</th>
                <td>6,792 km</td>
              </tr>
              <tr>
                <th>Polar Diameter:</th>
                <td>6,752 km</td>
              </tr>
              <tr>
                <th>Mass:</th>
                <td>6.42 x 10^23 kg (10.7% Earth)</td>
              </tr>
              <tr>
                <th>Moons:</th>
                <td>2 (Phobos &amp; Deimos)</td>
              </tr>
              <tr>
                <th>Orbit Distance:</th>
                <td>227,943,824 km (1.52 AU)</td>
              </tr>
              <tr>
                <th>Orbit Period:</th>
                <td>687 days (1.9 years)</td>
              </tr>
              <tr>
                <th>Surface Temperature:</th>
                <td>-153 to 20 °C</td>
              </tr>
              <tr>
                <th>First Record:</th>
                <td>2nd millennium BC</td>
              </tr>
              <tr>
                <th>Recorded By:</th>
                <td>Egyptian astronomers</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
  <div class="container-fluid">

    <div class="jumbotron">
      <h1>Mars Hemispheres</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <img src="{{listings.hemisphere_image_urls[0]['img_url']}}" alt="Mars Hemisphere1" style="width:500px;height:500px;">
          <h3>{{listings.hemisphere_image_urls[0]['title']}}</h3>
        </div>
        <div class="col-md-6">
          <img src="{{listings.hemisphere_image_urls[1]['img_url']}}" alt="Mars Hemisphere2" style="width:500px;height:500px;">
          <h3>{{listings.hemisphere_image_urls[1]['title']}}</h3>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <img src="{{listings.hemisphere_image_urls[2]['img_url']}}" alt="Mars Hemisphere1" style="width:500px;height:500px;">
          <h3>{{listings.hemisphere_image_urls[2]['title']}}</h3>
        </div>
        <div class="col-md-6">
          <img src="{{listings.hemisphere_image_urls[3]['img_url']}}" alt="Mars Hemisphere2" style="width:500px;height:500px;">
          <h3>{{listings.hemisphere_image_urls[3]['title']}}</h3>
        </div>
      </div>


    </div>
  </div>
</div>
</div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous">
  </script>
</body>

</html>
